@import "0-tools/vars"

body
	-webkit-font-smoothing : antialiased
	-webkit-text-size-adjust: 100%
	padding-top: 64px

@-ms-viewport
	width: device-width

article
	max-width: 1180px
	margin: auto
	box-sizing: border-box
	padding: 4vw 4vw 40px
	overflow: hidden

.small-divider
	background-color: #E8E8E8
	width: 8%
	height: 1px
	margin: 36px 0
	padding: 0
	clear: both

.divider
	background-color: #E8E8E8
	width: 100%
	height: 1px
	margin: 3% 0
	padding: 0

.contact
	padding: 4%

.lead
	display: block
	max-width: 78%

// MEDIA QUERIES ---------------------------------------------------------------
@media screen and (max-width: 770px)
	article, .contact
		padding: 5.5vw

	.small-divider
		width: 15%

	.lead
		max-width: 90%
		padding: 8px 0

@media screen and (max-width: 420px)
	article, .contact
		padding: 7%

	.small-divider
		width: 31%
		margin: 20px auto

@media screen and (max-width: 380px)
	body
		padding-top: 56px
