$primary-color: #268BD2;
$secondary-color: #E91E63;
$accent-color-light: #FF7FAA;
$accent-color-dark: #F40056;
$light-font-color: white;
$dark-font-color: #747474;
$footer-color: #969696;
$links: #268BD2;
