doctype html
html(lang='en')
  head
    title Portfolio of JF Tolaguera
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='theme-color' content='#268BD2')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='description' content='Portfolio of JF Tolaguera')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Portfolio of JF Tolaguera')
    meta(rel='icon' sizes='192x192' href='Assets/IMG/avatar.png')
    link(rel='apple-touch-icon-precomposed' href='Assets/IMG/avatar.png')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono|Montserrat:700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='Assets/CSS/main.css')
      
  body#process
    nav
      a(href='index.html') About
      a(href='work.html') Work
      a#current(href='process.html') Process
      
    article
      .section
        include ./_INCLUDES/phase-1.html
        h3 Project definition and contract
        p Via the form embedded in the about page, tell me the maximum about your project. Android design ? Web development ? The more info you give me, the more efficient it will run. Explain me your ideas, and what will be my part of the job.</br><span class="soft">Info I might need : Aim for this project ? Target audience, planning, competition ?</span></br>Then I draw a quotation, and send it to you by mail. If you accept the estimation, please sign and return the quotation to me.
      .arrow
        include ./_INCLUDES/arrow-forward.html
      .section
        include ./_INCLUDES/phase-2.html
        h3 Mock-ups, review and approval cycle
        p I'm a paper guy : I always draw some mockups on my sketchbook first, then design it on my graphic software/code editor, following your specifications. We set off a phase of reviewing, approving, fine tuning the mockup-ups until both you and me are satisfied by the design.</br><span class="soft">Main deliverables : written ideas, rough sketches, documented site map, wireframes, visual mock-ups, some lines of code for the basic design. For websites, I need all of the content provided by the client.</span>
      .arrow
        include ./_INCLUDES/arrow-forward.html
      .section
        include ./_INCLUDES/phase-3.html
        h3 Development, creation
        p This is typically the main phase. After approval of the mock-ups, I design, code, create all the deliverables, meeting the deadlines. Regularly, I share a progress report and comments about the work. When work is almost finished, this is a time for a full review.
      .arrow
        include ./_INCLUDES/arrow-forward.html
      .section
        include ./_INCLUDES/phase-4.html
        h3 Delivery, payment and maintenance
        p I send you all drawables, icons or complete site structure with HTML, CSS and JS files for websites. If needed, I can make some polishing or small improvements. When everything is ok, I send you the invoice. </br><span class="soft">Payment by : PayPal, bank transfer (details on request) or cheque payable to Jean-François Tolaguera.</span>
