doctype html
html(lang='en')
  head
    title Portfolio of JF Tolaguera
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='theme-color' content='#268BD2')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='description' content='Portfolio of JF Tolaguera')
    meta(name='mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='Portfolio of JF Tolaguera')
    meta(rel='icon' sizes='192x192' href='Assets/IMG/avatar.png')
    link(rel='apple-touch-icon-precomposed' href='Assets/IMG/avatar.png')
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Mono|Montserrat:700' rel='stylesheet' type='text/css')
    link(rel='stylesheet' type='text/css' href='Assets/CSS/main.css')
    script.
      function() {
        if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile/)) {
          var msViewportStyle = document.createElement("style");
          msViewportStyle.appendChild(
            document.createTextNode("@-ms-viewport{width:auto!important}")
          );
          document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
      }})();
      
  body#process
    nav
      a(href='index.html') About
      a(href='work.html') Work
      a#current(href='services.html') Services
      
    article
      h1 Process
      .flex
        .section#first
          include ./_INCLUDES/phase-1.html
          h3 Discover & contract
          p With the form embedded in the about page, tell me the maximum about your project. Explain me your ideas, what will be my part of the job.</br><span class="soft">Aim for this project, target audience, planning, competition.</span></br>Then I draw a quotation, and send it to you by mail. If you accept the estimate, please sign and return it to me.
        .section
          include ./_INCLUDES/phase-2.html
          h3 Design cycle
          p I design rough mockups on my software/code editor, meeting your specs. We set off a phase of reviewing, approving, fine tuning the mockup-ups until both you and me are satisfied by the design.</br><span class="soft">Main deliverables : rough sketches, documented site map, wireframes, mock-ups.</span>
        .section
          include ./_INCLUDES/phase-3.html
          h3 Develop
          p This is typically the main phase. After approval of the mock-ups, I design, code, create all the deliverables, meeting the deadlines. Regularly, I share a progress report and comments about the work. When work is almost finished, this is a time for a full review.
        .section#last
          include ./_INCLUDES/phase-4.html
          h3 Deliver & payment
          p I send you all drawables, icons or complete site structure with HTML, CSS and JS files for websites. If needed, I can make some polishing or small improvements. When everything is ok, I send you the invoice. </br><span class="soft">Payment by : PayPal or bank transfer (details on request).</span>
          
      .small-divider
        
      h1 Q&As</br>
      p <b>Can you do CMS development ?</b></br>No, I'm a front-end developer and web designer. I create mockups, and convert these into responsive websites. I don't handle the launching of the site online.
      p <b>How do we communicate ?</b></br>Mostly with e-mails, hangouts or skype. I travel a lot, I don't have a standing phone line.
      h1 Rates & prices
      p Usually my rates depend on the project and the amount of work. When we discuss about the project, make sure to tell me the maximum, about its scope and details (we can schedule a hangout or skype if needed), so that I can assess a quote. Although, I have some fixed prices for some works I know well.</br>
      <b>Android Product icon : <span class="price-tag">99€ &#124 108$</span></br>Android feature or promotionnal graphic (for Play Store) : <span class="price-tag">29€ &#124 31$</span></b>
      h1 Android Product icon
      p When creating Android icons, I always meet the <a href="http://www.google.com/design/spec/style/icons.html#icons-product-icons">Google guidelines</a> about Material Design. I provide every version that you'll need : PNGs (MDPI to XXXHDPI and Play Store size), SVG and AI files.


      
    include ./_includes/footer.jade
