<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="192px"
	 height="192px" viewBox="0 0 192 192" enable-background="new 0 0 192 192" xml:space="preserve">
<filter  id="MD_DropShadow">
	<feOffset  dy="3" in="SourceAlpha" result="offOut" dx="0"></feOffset>
	<feGaussianBlur  stdDeviation="2" in="offOut" result="blurOut"></feGaussianBlur>
	<feComponentTransfer  in="blurOut" result="final">
		<feFuncA  type="linear" slope="0.26"></feFuncA>
	</feComponentTransfer>
	<feBlend  mode="normal" in="SourceGraphic" in2="final"></feBlend>
</filter>
<g id="ICON-192-XXXHDPI">
	<g id="shadow-layer" filter="url(#MD_DropShadow)">
		<path id="XMLID_17_" fill="#FFFFFF" d="M147,183H39c-3.3,0-6-2.7-6-6V15c0-3.3,2.7-6,6-6h108c6.6,0,12,5.4,12,12v59l12,1l-4,74
			l-8.1-0.7L159,171C159,177.6,153.6,183,147,183z"/>
	</g>
	<path id="back-cover" fill="#356CCA" d="M112,56h48V20c0-6.6-5.4-12-12-12h-36V56z"/>
	<linearGradient id="post-it_1_" gradientUnits="userSpaceOnUse" x1="88" y1="114" x2="172" y2="114">
		<stop  offset="0.641" style="stop-color:#5E5013"/>
		<stop  offset="0.9199" style="stop-color:#FDD835"/>
		<stop  offset="1" style="stop-color:#FDD835"/>
	</linearGradient>
	<polygon id="post-it" fill="url(#post-it_1_)" points="88,72 172,80 168,156 88,148 	"/>
	<path id="sheet" fill="#EEEEEE" d="M108,60h40V26c0-3.3-2.7-6-6-6h-34V60z"/>
	<path id="sheet-shade" fill="#FFFFFF" d="M142,20h-34v1h34c3.3,0,6,2.7,6,6v-1C148,22.7,145.3,20,142,20z"/>
	<rect id="line" x="132" y="28" fill="#9E9E9E" width="8" height="4"/>
	<path id="front-cover" fill="#3579EC" d="M148,184H48V8h64l48,48v116C160,178.6,154.6,184,148,184z"/>
	<path id="binding" fill="#205DC4" d="M52,184H38c-3.3,0-6-2.7-6-6V14c0-3.3,2.7-6,6-6h14V184z"/>
	<linearGradient id="ply-shadow_1_" gradientUnits="userSpaceOnUse" x1="138" y1="52" x2="138" y2="96">
		<stop  offset="0" style="stop-color:#000000"/>
		<stop  offset="1" style="stop-color:#1D1D1B;stop-opacity:0"/>
	</linearGradient>
	<polygon id="ply-shadow" opacity="6.000000e-02" fill="url(#ply-shadow_1_)" points="116,52 160,52 160,96 	"/>
	<g id="ply" filter="url(#MD_DropShadow)">
		<path id="XMLID_17_" fill="#73A7FF" d="M112,8l48,48h-36c-6.6,0-12-5.4-12-12V8z"/>
	</g>
	<path id="front-cover-tint" opacity="0.4" fill="#FFFFFF" d="M38,8c-3.3,0-6,2.7-6,6v1c0-3.3,2.7-6,6-6h74V8H38z"/>
	<path id="back-cover-tint" opacity="0.4" fill="#FFFFFF" d="M148,8h-36v1h36c6.6,0,12,5.4,12,12v-1C160,13.4,154.6,8,148,8z"/>
	<path id="book-shade" opacity="0.4" fill="#263238" d="M148,183H38c-3.3,0-6-2.7-6-6v1c0,3.3,2.7,6,6,6h110c6.6,0,12-5.4,12-12v-1
		C160,177.6,154.6,183,148,183z"/>
	<linearGradient id="finish-layer_1_" gradientUnits="userSpaceOnUse" x1="20.8787" y1="22.636" x2="167.6066" y2="169.364">
		<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.1"/>
		<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
	</linearGradient>
	<path id="finish-layer" fill="url(#finish-layer_1_)" d="M148,184H38c-3.3,0-6-2.7-6-6V14c0-3.3,2.7-6,6-6h110c6.6,0,12,5.4,12,12
		v152C160,178.6,154.6,184,148,184z"/>
</g>
</svg>
