<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="192px" height="192px" viewBox="0 0 192 192" enable-background="new 0 0 192 192" xml:space="preserve">
<filter  id="MD_DropShadow">
	<feOffset  dx="0" dy="3" in="SourceAlpha" result="offOut"></feOffset>
	<feGaussianBlur  stdDeviation="2" in="offOut" result="blurOut"></feGaussianBlur>
	<feComponentTransfer  in="blurOut" result="final">
		<feFuncA  type="linear" slope="0.28"></feFuncA>
	</feComponentTransfer>
	<feBlend  in="SourceGraphic" in2="final" mode="normal"></feBlend>
</filter>
<filter  width="300" height="300 " x="-100" id="Lamp_shadow">
	<feOffset  dx="0" dy="3" in="SourceAlpha" result="offOut"></feOffset>
	<feGaussianBlur  stdDeviation="2" in="offOut" result="blurOut"></feGaussianBlur>
	<feComponentTransfer  in="blurOut" result="final">
		<feFuncA  type="linear" slope="0.26"></feFuncA>
	</feComponentTransfer>
	<feBlend  in="SourceGraphic" in2="final" mode="normal"></feBlend>
</filter>
<g id="ICON-192-XXXHDPI">
	<g id="shadow-layer" filter="url(#MD_DropShadow)">
		<path id="XMLID_26_" fill="#FFFFFF" d="M96,9C52,9,33,40.2,33,56v96c0,8.8,6.8,11.6,15,15c0.1,0,6.7,2,7,2l-8,3
			c-1.6,0.5-2,1.3-2,3v5c0,2.2,0.8,3,3,3h11c0.9,0,1.3-0.4,2-1c0,0,16-12,16-12c3,0.1,36.5,0,38,0l16,12c0.7,0.6,1.1,1,2,1h11
			c2.2,0,3-0.8,3-3v-5c0-1.7-0.4-2.5-2-3l-8-3c1.1-0.1,6.9-1.9,7-2c9.2-3.8,15-6.2,15-15V56C159,40.2,140,9,96,9z"/>
	</g>
	<rect id="green_part" x="32" y="56" fill="#26A69A" width="128" height="92"/>

		<linearGradient id="right_rail_1_" gradientUnits="userSpaceOnUse" x1="118" y1="184" x2="118" y2="168" gradientTransform="matrix(-1 0 0 1 246 0)">
		<stop  offset="0" style="stop-color:#616161"/>
		<stop  offset="0.7" style="stop-color:#616161"/>
		<stop  offset="1" style="stop-color:#4D4D4D"/>
	</linearGradient>
	<path id="right_rail" fill="url(#right_rail_1_)" d="M136,168l9.3,3.1c1.6,0.5,2.7,2.1,2.7,3.8v5.1c0,2.2-1.8,4-4,4h-10.6
		c-0.9,0-1.8-0.3-2.5-0.9L108,168H136z"/>

		<linearGradient id="left_rail_1_" gradientUnits="userSpaceOnUse" x1="178" y1="184" x2="178" y2="168" gradientTransform="matrix(1 0 0 1 -114 0)">
		<stop  offset="0" style="stop-color:#616161"/>
		<stop  offset="0.7" style="stop-color:#616161"/>
		<stop  offset="1" style="stop-color:#4D4D4D"/>
	</linearGradient>
	<path id="left_rail" fill="url(#left_rail_1_)" d="M56,168l-9.3,3.1c-1.6,0.5-2.7,2.1-2.7,3.8v5.1c0,2.2,1.8,4,4,4h10.6
		c0.9,0,1.8-0.3,2.5-0.9L84,168H56z"/>
	<path id="white_part" fill="#F5F5F5" d="M144,168c-9.2,3.8-87.8,3.4-96,0s-16-7.2-16-16v-16c19.8,12,107.8,12.3,128,0
		c0,8.8,0,16,0,16C160,160.8,153.2,164.2,144,168z"/>
	<path id="shade" opacity="0.2" fill="#202020" d="M144,167c-9.2,3.8-87.8,3.4-96,0s-16-7.2-16-16v1c0,8.8,7.8,12.6,16,16
		s86.8,3.8,96,0s16-7.2,16-16c0,0,0-0.4,0-1C160,159.8,153.2,163.2,144,167z"/>
	<path id="white_line" fill="#FFFFFF" d="M32,136v1c19.8,12,107.8,12.3,128,0c0-0.3,0-0.7,0-1C139.8,148.3,51.8,148,32,136z"/>
	<path id="black_line" opacity="0.26" fill="#1D1D1B" d="M32,135v1c19.8,12,107.8,12.3,128,0c0-0.3,0-0.7,0-1
		C139.8,147.3,51.8,147,32,135z"/>
	<path id="black_part" fill="#616161" d="M60,108L32,56C32,40.2,52,8,96,8s64,32.2,64,48l-28,52C132,116.8,60,116.8,60,108z"/>
	<g id="left-lamp-shadow" filter="url(#Lamp_shadow)">
		<circle id="XMLID_26_" fill="#FFFFFF" cx="52" cy="128" r="7"/>
	</g>
	<linearGradient id="left-lamp-shadow-line_1_" gradientUnits="userSpaceOnUse" x1="51" y1="127" x2="77" y2="153">
		<stop  offset="0" style="stop-color:#1D1D1B"/>
		<stop  offset="0.5121" style="stop-color:#1D1D1B;stop-opacity:0"/>
	</linearGradient>
	<polygon id="left-lamp-shadow-line" opacity="0.18" fill="url(#left-lamp-shadow-line_1_)" points="56,122 78,144 72,158 48,134
		"/>
	<circle id="left-lamp" fill="#FFD600" cx="52" cy="128" r="8"/>
	<path id="left-lamp-tint" opacity="0.4" fill="#FFFFFF" d="M52,121c4.2,0,7.7,3.3,8,7.5c0-0.2,0-0.3,0-0.5c0-4.4-3.6-8-8-8
		s-8,3.6-8,8c0,0.2,0,0.3,0,0.5C44.3,124.3,47.8,121,52,121z"/>
	<g id="right-lamp-shadow" filter="url(#Lamp_shadow)">
		<circle id="XMLID_26_" fill="#FFFFFF" cx="140" cy="126" r="7"/>
	</g>
	<linearGradient id="right-lamp-shadow-line_1_" gradientUnits="userSpaceOnUse" x1="139" y1="125" x2="157" y2="143">
		<stop  offset="0" style="stop-color:#1D1D1B"/>
		<stop  offset="0.8" style="stop-color:#1D1D1B;stop-opacity:0"/>
	</linearGradient>
	<polygon id="right-lamp-shadow-line" opacity="0.18" fill="url(#right-lamp-shadow-line_1_)" points="144,120 158,134 152,148
		136,132 	"/>
	<circle id="right-lamp" fill="#FFD600" cx="140" cy="126" r="8"/>
	<path id="right-lamp-tint" opacity="0.4" fill="#FFFFFF" d="M140,119c4.2,0,7.7,3.3,8,7.5c0-0.2,0-0.3,0-0.5c0-4.4-3.6-8-8-8
		s-8,3.6-8,8c0,0.2,0,0.3,0,0.5C132.3,122.3,135.8,119,140,119z"/>
	<g id="logo">
		<path id="XMLID_41_" fill="#26A69A" d="M96,76c-4.5,0-8.4,2.5-10.5,6.1c1.3,0.4,2.6,0.9,3.8,1.4c1.4-2.1,3.9-3.5,6.6-3.5
			c4.4,0,8,3.6,8,8c0,3.7-2.4,6.7-5.8,7.7c-0.5,1.2-1,2.7-1.5,4.3c6.3-0.4,11.2-5.6,11.2-12C108,81.4,102.6,76,96,76z"/>
		<path id="XMLID_42_" fill="#26A69A" d="M92.7,95.3c-2.8-1.3-4.7-4-4.7-7.3c0-0.2,0-0.5,0-0.7c-1.2-0.5-2.4-1-3.8-1.5
			C84.1,86.6,84,87.3,84,88c0,5.2,3.3,9.6,8,11.3C92.2,98,92.4,96.6,92.7,95.3z"/>
	</g>
	<path id="tint" opacity="0.4" fill="#FFFFFF" d="M96,9c43.2,0,63.2,30.9,64,47.1l0-0.1c0-15.8-20-48-64-48S32,40.2,32,56l0,0.1
		C32.8,39.9,52.8,9,96,9z"/>
	<linearGradient id="finish-layer_1_" gradientUnits="userSpaceOnUse" x1="31.9706" y1="41.5686" x2="160.0294" y2="169.6275">
		<stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0.1"/>
		<stop  offset="1" style="stop-color:#FFFFFF;stop-opacity:0"/>
	</linearGradient>
	<path id="finish-layer" fill="url(#finish-layer_1_)" d="M96,8C52,8,32,40.2,32,56v79v1v1v11v4c0,8.8,7.8,12.6,16,16
		c0.9,0.4,2.6,0.7,5,1l-6.3,2.1c-1.6,0.5-2.7,2.1-2.7,3.8v5.1c0,2.2,1.8,4,4,4h10.6c0.9,0,1.8-0.3,2.5-0.9L77,170.4
		c12.1,0.3,26,0.4,38.1,0.1l15.8,12.7c0.7,0.6,1.6,0.9,2.5,0.9H144c2.2,0,4-1.8,4-4v-5.1c0-1.7-1.1-3.3-2.7-3.8l-6.2-2.1
		c2.3-0.3,4-0.6,4.9-1c9.2-3.8,16-7.2,16-16c0,0,0-1.5,0-4v-11v-1v-1V56C160,40.2,140,8,96,8z"/>
</g>
</svg>
