<svg version="1.1" id="phase-2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="136px" height="136px" viewBox="0 0 192 192" enable-background="new 0 0 192 192" xml:space="preserve">
<path id="base" fill="#03A9F4" d="M156,162H36c-3.3,0-6-2.7-6-6V36c0-3.3,2.7-6,6-6h120c3.3,0,6,2.7,6,6v120
	C162,159.3,159.3,162,156,162z"/>
<line id="XMLID_22_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="96" y1="30" x2="96" y2="162"/>
<line id="XMLID_17_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="118" y1="30" x2="118" y2="162"/>
<line id="XMLID_21_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="52" y1="30" x2="52" y2="162"/>
<line id="XMLID_8_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="74" y1="30" x2="74" y2="162"/>
<line id="XMLID_18_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="140" y1="30" x2="140" y2="162"/>
<line id="XMLID_15_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="162" y1="97" x2="30" y2="97"/>
<line id="XMLID_14_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="162" y1="119" x2="30" y2="119"/>
<line id="XMLID_13_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="162" y1="53" x2="30" y2="53"/>
<line id="XMLID_12_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="162" y1="75" x2="30" y2="75"/>
<line id="XMLID_11_" opacity="0.6" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="162" y1="141" x2="30" y2="141"/>
<path id="_x32_" fill="#FFFFFF" d="M145,77l2,8h-24V69c0-4.4,3.6-8,8-8h8v-8h-14l-2-8h16c4.4,0,8,3.6,8,8v8c0,4.4-3.6,8-8,8h-8v8
	H145z"/>
</svg>
