<svg id="phase-1" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
<filter  id="MD_DropShadow">
	<feOffset  dy="2.5" result="offOut" in="SourceAlpha" dx="0"></feOffset>
	<feGaussianBlur  stdDeviation="2" result="blurOut" in="offOut"></feGaussianBlur>
	<feComponentTransfer  result="final" in="blurOut">
		<feFuncA  type="linear" slope="0.26"></feFuncA>
	</feComponentTransfer>
	<feBlend  in2="final" in="SourceGraphic" mode="normal"></feBlend>
</filter>
<g id="PAGE-3-STATIC">
	<g id="shadow-layer_3_" opacity="0.6" filter="url(#MD_DropShadow)">
		<path id="XMLID_5_" fill="#FFFFFF" d="M108,191H19c-2.2,0-4-1.8-4-4V69.5c0-2.2,1.8-4,4-4h89c2.2,0,4,1.8,4,4V187
			C112,189.2,110.2,191,108,191z"/>
	</g>
	<linearGradient id="Page_3_" gradientUnits="userSpaceOnUse" x1="63" y1="64" x2="63" y2="192">
		<stop  offset="0" style="stop-color:#FAFAFA"/>
		<stop  offset="1" style="stop-color:#EEEEEE"/>
	</linearGradient>
	<path id="Page_2_" fill="url(#Page_3_)" d="M109,192H17c-2.2,0-4-1.8-4-4V68c0-2.2,1.8-4,4-4h92c2.2,0,4,1.8,4,4v120
		C113,190.2,111.2,192,109,192z"/>
	<rect id="XMLID_72_" x="27" y="80" fill="#BDBDBD" width="44" height="2"/>
	<rect id="XMLID_71_" x="27" y="92" fill="#BDBDBD" width="69" height="2"/>
	<rect id="XMLID_70_" x="27" y="104" fill="#BDBDBD" width="22" height="2"/>
	<rect id="XMLID_69_" x="77" y="80" fill="#BDBDBD" width="18" height="2"/>
	<rect id="XMLID_68_" x="54" y="104" fill="#BDBDBD" width="43" height="2"/>
	<rect id="XMLID_67_" x="27" y="116" fill="#BDBDBD" width="34" height="2"/>
	<rect id="XMLID_66_" x="66" y="116" fill="#BDBDBD" width="29" height="2"/>
	<rect id="XMLID_65_" x="27" y="128" fill="#BDBDBD" width="17" height="2"/>
	<rect id="XMLID_63_" x="49" y="128" fill="#BDBDBD" width="17" height="2"/>
	<rect id="XMLID_74_" x="71" y="128" fill="#BDBDBD" width="21" height="2"/>
	<rect id="XMLID_62_" x="27" y="140" fill="#BDBDBD" width="34" height="2"/>
	<rect id="XMLID_77_" x="66" y="140" fill="#BDBDBD" width="23" height="2"/>
	<rect id="XMLID_75_" x="27" y="152" fill="#BDBDBD" width="17" height="2"/>
	<rect id="XMLID_80_" x="27" y="164" fill="#BDBDBD" width="23" height="2"/>
	<rect id="XMLID_78_" x="49" y="152" fill="#BDBDBD" width="13" height="2"/>
	<rect id="XMLID_79_" x="67" y="152" fill="#BDBDBD" width="27" height="2"/>
</g>
<g id="PAGE-1-MOTION">
	<g id="shadow-layer_2_" opacity="0.6" filter="url(#MD_DropShadow)">
		<path id="XMLID_5_" fill="#FFFFFF" d="M117,191H28c-2.2,0-4-1.8-4-4V69.5c0-2.2,1.8-4,4-4h89c2.2,0,4,1.8,4,4V187
			C121,189.2,119.2,191,117,191z"/>
	</g>
	<linearGradient id="Page_4_" gradientUnits="userSpaceOnUse" x1="72" y1="64" x2="72" y2="192">
		<stop  offset="0" style="stop-color:#FAFAFA"/>
		<stop  offset="1" style="stop-color:#EEEEEE"/>
	</linearGradient>
	<path id="Page" fill="url(#Page_4_)" d="M118,192H26c-2.2,0-4-1.8-4-4V68c0-2.2,1.8-4,4-4h92c2.2,0,4,1.8,4,4v120
		C122,190.2,120.2,192,118,192z"/>
	<path id="I" fill="#757575" d="M40,77h-5v4h4v12h-4v4h12v-4h-4V81v-1C43,78.3,41.7,77,40,77z"/>
	<rect id="XMLID_8_" x="64" y="76" fill="#BDBDBD" width="44" height="2"/>
	<rect id="XMLID_10_" x="64" y="88" fill="#BDBDBD" width="40" height="2"/>
	<rect id="XMLID_21_" x="63" y="100" fill="#BDBDBD" width="9" height="2"/>
	<rect id="XMLID_23_" x="77" y="100" fill="#BDBDBD" width="29" height="2"/>
	<rect id="XMLID_18_" x="36" y="112" fill="#BDBDBD" width="34" height="2"/>
	<rect id="XMLID_24_" x="75" y="112" fill="#BDBDBD" width="29" height="2"/>
	<rect id="XMLID_19_" x="36" y="124" fill="#BDBDBD" width="30" height="2"/>
	<rect id="XMLID_20_" x="73" y="124" fill="#BDBDBD" width="26" height="2"/>
	<rect id="XMLID_22_" x="36" y="136" fill="#BDBDBD" width="39" height="2"/>
	<rect id="XMLID_76_" x="81" y="136" fill="#BDBDBD" width="7" height="2"/>
	<rect id="XMLID_60_" x="37" y="148" fill="#BDBDBD" width="26" height="2"/>
	<rect id="XMLID_6_" x="85" y="156" fill="#E0E0E0" width="26" height="26"/>
</g>
<g id="POST-IT">
	<path id="XMLID_1_" fill="#FCCE4C" d="M185,64l1.5-12c0.1-1.1,1.1-1.9,2.2-1.8l37.8,3.7c1.1,0.1,1.9,1.1,1.8,2.2L228,64H185z"/>
	<path id="XMLID_33_" opacity="0.4" d="M191.5,64c-0.8-3.4,10.4-12.4,18.5,0c8.4,12.8,2.5,9.7-2,2c-2.8-6.8-12.2-9.5-14.5-1
		C192.9,65.1,191.5,64,191.5,64z"/>
	<path id="XMLID_136_" opacity="0.4" d="M220.5,67c-1.7-3.9-2.3-5.3-3.5-7c1,0.2,2.5,1.5,2.5,1.5s2.1,1.8,3,5"/>
	<linearGradient id="XMLID_4_" gradientUnits="userSpaceOnUse" x1="206.5688" y1="64" x2="206.5688" y2="61">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0.1"/>
		<stop  offset="0.4" style="stop-color:#000000;stop-opacity:0"/>
	</linearGradient>
	<polyline id="XMLID_2_" fill="url(#XMLID_4_)" points="185,64 228,64 228.1,61 185.4,61 185,64 	"/>
</g>
<g id="PAGE-2">
	<g id="shadow-layer_1_" opacity="0.6" filter="url(#MD_DropShadow)">
		<path id="XMLID_7_" fill="#FFFFFF" d="M233,191h-89c-2.2,0-4-1.8-4-4V69.5c0-2.2,1.8-4,4-4h89c2.2,0,4,1.8,4,4V187
			C237,189.2,235.2,191,233,191z"/>
	</g>
	<linearGradient id="Page_5_" gradientUnits="userSpaceOnUse" x1="188" y1="64" x2="188" y2="192">
		<stop  offset="0" style="stop-color:#FAFAFA"/>
		<stop  offset="1" style="stop-color:#EEEEEE"/>
	</linearGradient>
	<path id="Page_1_" fill="url(#Page_5_)" d="M234,192h-92c-2.2,0-4-1.8-4-4V68c0-2.2,1.8-4,4-4h92c2.2,0,4,1.8,4,4v120
		C238,190.2,236.2,192,234,192z"/>
	<path id="XMLID_57_" fill="#268BD2" d="M192,158c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C204,163.4,198.6,158,192,158
		z M192,178c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S196.4,178,192,178z"/>
	<path id="XMLID_54_" fill="#268BD2" d="M192,128c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C204,133.4,198.6,128,192,128
		z M192,148c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S196.4,148,192,148z"/>
	<path id="XMLID_51_" fill="#268BD2" d="M160,128c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C172,133.4,166.6,128,160,128
		z M160,148c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S164.4,148,160,148z"/>
	<path id="XMLID_45_" fill="#268BD2" d="M160,98c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C172,103.4,166.6,98,160,98z
		 M160,118c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S164.4,118,160,118z"/>
	<path id="XMLID_29_" fill="#268BD2" d="M224,98c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C236,103.4,230.6,98,224,98z
		 M224,118c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S228.4,118,224,118z"/>
	<path id="XMLID_34_" fill="#268BD2" d="M192,98c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C204,103.4,198.6,98,192,98z
		 M192,118c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S196.4,118,192,118z"/>
	<path id="XMLID_40_" fill="#268BD2" d="M192,68c-6.6,0-12,5.4-12,12c0,6.6,5.4,12,12,12s12-5.4,12-12C204,73.4,198.6,68,192,68z
		 M192,88c-4.4,0-8-3.6-8-8s3.6-8,8-8s8,3.6,8,8S196.4,88,192,88z"/>
	<line id="XMLID_25_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="192" y1="160" x2="192" y2="150"/>
	<line id="XMLID_17_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="184" y1="164" x2="168" y2="148"/>
	<line id="XMLID_15_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="160" y1="130" x2="160" y2="120"/>
	<line id="XMLID_14_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="200" y1="134" x2="216" y2="118"/>
	<line id="XMLID_37_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="192" y1="100" x2="192" y2="90"/>
	<line id="XMLID_43_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="216" y1="104" x2="200" y2="88"/>
	<line id="XMLID_44_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="192" y1="130" x2="192" y2="120"/>
	<line id="XMLID_50_" fill="none" stroke="#268BD2" stroke-width="4" stroke-miterlimit="10" x1="168" y1="104" x2="184" y2="88"/>
	<rect id="XMLID_26_" x="153" y="173" fill="#BDBDBD" width="2" height="9"/>
	<rect id="XMLID_61_" x="146" y="159" fill="#BDBDBD" width="2" height="23"/>
</g>
</svg>
