<svg version="1.1" id="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
<filter  id="MD_DropShadow">
	<feOffset  in="SourceAlpha" result="offOut" dy="2.5" dx="0"></feOffset>
	<feGaussianBlur  in="offOut" result="blurOut" stdDeviation="2"></feGaussianBlur>
	<feComponentTransfer  in="blurOut" result="final">
		<feFuncA  type="linear" slope="0.26"></feFuncA>
	</feComponentTransfer>
	<feBlend  in="SourceGraphic" in2="final" mode="normal"></feBlend>
</filter>
<g id="shadow-layer_3_" filter="url(#MD_DropShadow)">
	<path id="XMLID_18_" fill="#FFFFFF" d="M236,247H21c-6.6,0-12-5.4-12-12V22c0-6.6,5.4-12,12-12h215c6.6,0,12,5.4,12,12v213
		C248,241.6,242.6,247,236,247z"/>
</g>
<linearGradient id="papier_1_" gradientUnits="userSpaceOnUse" x1="128" y1="248" x2="128" y2="8">
	<stop  offset="0" style="stop-color:#1779E2"/>
	<stop  offset="1" style="stop-color:#51B4E6"/>
</linearGradient>
<path id="papier" fill="url(#papier_1_)" d="M236,248H20c-6.6,0-12-5.4-12-12V20c0-6.6,5.4-12,12-12h216c6.6,0,12,5.4,12,12v216
	C248,242.6,242.6,248,236,248z"/>
<path id="tint-papier" opacity="0.4" fill="#FFFFFF" d="M236,8H20C13.4,8,8,13.4,8,20v1c0-6.6,5.4-12,12-12h216c6.6,0,12,5.4,12,12
	v-1C248,13.4,242.6,8,236,8z"/>
<g id="lignes" opacity="0.5">
	<line id="XMLID_1_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="63" y1="8" x2="63" y2="248"/>
	<line id="XMLID_8_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="31" y1="8" x2="31" y2="248"/>
	<line id="XMLID_3_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="128" y1="8" x2="128" y2="248"/>
	<line id="XMLID_6_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="160" y1="8" x2="160" y2="248"/>
	<line id="XMLID_5_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="97" y1="8" x2="97" y2="248"/>
	<line id="XMLID_4_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="192" y1="8" x2="192" y2="248"/>
	<line id="XMLID_7_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="224" y1="8" x2="224" y2="248"/>
	<line id="XMLID_15_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="248" y1="64" x2="8" y2="64"/>
	<line id="XMLID_14_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="248" y1="32" x2="8" y2="32"/>
	<line id="XMLID_13_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="248" y1="129" x2="8" y2="129"/>
	<line id="XMLID_12_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="248" y1="161" x2="8" y2="161"/>
	<line id="XMLID_11_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="248" y1="98" x2="8" y2="98"/>
	<line id="XMLID_10_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="248" y1="193" x2="8" y2="193"/>
	<line id="XMLID_9_" fill="none" stroke="#AED6E5" stroke-width="2" stroke-miterlimit="10" x1="248" y1="225" x2="8" y2="225"/>
</g>
<g id="règle">
	<linearGradient id="shadow_2_" gradientUnits="userSpaceOnUse" x1="89.793" y1="131.257" x2="75.3879" y2="128.717">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.3"/>
	</linearGradient>
	<polygon id="shadow" fill="url(#shadow_2_)" points="103,25 108,28 68,236 57,233 	"/>
	<path id="ruler_1_" fill="#E5E7E8" d="M100.1,21.8l-17.7-3.4c-3.3-0.6-6.4,1.5-7,4.8L36.9,223.5c-0.6,3.3,1.5,6.4,4.8,7l17.7,3.4
		c3.3,0.6,6.4-1.5,7-4.8l38.6-200.3C105.5,25.6,103.4,22.4,100.1,21.8z M53,225c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6
		S56.3,225,53,225z"/>

		<rect id="XMLID_24_" x="70.5" y="48" transform="matrix(0.982 0.189 -0.189 0.982 10.5772 -12.8156)" fill="#A0A5A5" width="4" height="2"/>

		<rect id="XMLID_26_" x="64.4" y="79.5" transform="matrix(0.982 0.189 -0.189 0.982 16.4075 -11.106)" fill="#A0A5A5" width="4" height="2"/>

		<rect id="XMLID_27_" x="58.4" y="110.9" transform="matrix(0.982 0.189 -0.189 0.982 22.2378 -9.3964)" fill="#A0A5A5" width="4" height="2"/>

		<rect id="XMLID_28_" x="52.3" y="142.3" transform="matrix(0.982 0.189 -0.189 0.982 28.0681 -7.6868)" fill="#A0A5A5" width="4" height="2"/>

		<rect id="XMLID_30_" x="46.3" y="173.7" transform="matrix(0.982 0.189 -0.189 0.982 33.8984 -5.9772)" fill="#A0A5A5" width="4" height="2"/>
	<path id="tint" opacity="0.4" fill="#FFFFFF" d="M36.9,224.5L75.4,24.1c0.6-3.3,3.8-5.4,7-4.8l17.7,3.4c2.7,0.5,4.6,2.8,4.8,5.4
		c0.3-3-1.8-5.8-4.8-6.4l-17.7-3.4c-3.3-0.6-6.4,1.5-7,4.8L36.9,223.5c-0.1,0.5-0.1,1.1-0.1,1.6C36.8,224.9,36.8,224.7,36.9,224.5z"
		/>
</g>
<g id="crayon">
	<linearGradient id="shadow_3_" gradientUnits="userSpaceOnUse" x1="231" y1="166.5" x2="213" y2="166.5">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.3"/>
	</linearGradient>
	<polygon id="shadow_1_" fill="url(#shadow_3_)" points="214,95 231,109 231,238 213,233 	"/>
	<g id="shadow-layer_1_" opacity="0.6" filter="url(#MD_DropShadow)">
		<polygon id="XMLID_18_" fill="#FFFFFF" points="223,233 201,233 201,116 203,112 212,92 221,112 223,116 		"/>
	</g>
	<linearGradient id="bois_2_" gradientUnits="userSpaceOnUse" x1="200.9999" y1="174.5" x2="223.0001" y2="174.5">
		<stop  offset="0" style="stop-color:#BDBDBD"/>
		<stop  offset="0.1" style="stop-color:#E0E0E0"/>
		<stop  offset="0.5" style="stop-color:#EEEEEE"/>
		<stop  offset="0.9" style="stop-color:#E0E0E0"/>
		<stop  offset="1" style="stop-color:#BDBDBD"/>
	</linearGradient>
	<path id="bois" fill="url(#bois_2_)" d="M223,233c0,0,0.2,3-11,3s-11-3-11-3V113h22V233z"/>
	<path id="bois_1_" fill="#E5BDA1" d="M201,113c0,0,0,2,11,2s11-2,11-2l-11-25L201,113z"/>
	<path id="mine" fill="#616161" d="M212,88l4,9c0,0,0.1,2-4,2s-4-2-4-2L212,88z"/>
</g>
<radialGradient id="ombre-trou-règle_1_" cx="53" cy="219" r="6" gradientUnits="userSpaceOnUse">
	<stop  offset="0.4225" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.15"/>
</radialGradient>
<circle id="ombre-trou-règle" fill="url(#ombre-trou-règle_1_)" cx="53" cy="219" r="6"/>
<path id="_x32_" fill="#FFFFFF" d="M213,69l2,8h-24V61c0-4.4,3.6-8,8-8h8v-8h-14l-2-8h16c4.4,0,8,3.6,8,8v8c0,4.4-3.6,8-8,8h-8v8
	H213z"/>
<path id="tint-trou-règle" opacity="0.8" fill="#FFFFFF" d="M53,213c3.1,0,5.7,2.4,6,5.5c0-0.2,0-0.3,0-0.5c0-3.3-2.7-6-6-6
	s-6,2.7-6,6c0,0.2,0,0.3,0,0.5C47.3,215.4,49.9,213,53,213z"/>
</svg>
