<svg version="1.1" id="phase-4-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve" preserveAspectRatio="xMidYMid meet">
<rect id="base" x="64" y="14" fill="#E0E0E0" width="128" height="228"/>
<g id="structure">
	<rect id="toit" x="52" y="9" fill="#EEEEEE" width="152" height="5"/>
	<rect id="XMLID_3_" x="92" y="14" fill="#EEEEEE" width="4" height="206"/>
	<rect id="XMLID_6_" x="160" y="14" fill="#EEEEEE" width="4" height="206"/>
	<rect id="XMLID_7_" x="174" y="14" fill="#EEEEEE" width="4" height="206"/>
	<rect id="XMLID_5_" x="78" y="14" fill="#EEEEEE" width="4" height="206"/>
</g>
<g id="vitres">
	<rect id="XMLID_1_" x="96" y="224" fill="#73C7D2" width="64" height="18"/>
	<rect id="XMLID_122_" x="96" y="140" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_118_" x="96" y="158" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_117_" x="130" y="158" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_121_" x="130" y="140" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_130_" x="96" y="104" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_64_" x="164" y="14" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_63_" x="164" y="48" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_62_" x="164" y="82" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_61_" x="164" y="116" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_60_" x="164" y="150" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_59_" x="164" y="184" fill="#73C7D2" width="10" height="36"/>
	<rect id="XMLID_129_" x="130" y="104" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_110_" x="96" y="86" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_109_" x="130" y="86" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_142_" x="96" y="176" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_141_" x="130" y="176" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_126_" x="96" y="122" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_138_" x="96" y="194" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_137_" x="130" y="194" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_125_" x="130" y="122" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_134_" x="96" y="212" fill="#73C7D2" width="30" height="8"/>
	<rect id="XMLID_133_" x="130" y="212" fill="#73C7D2" width="30" height="8"/>
	<rect id="XMLID_106_" x="96" y="50" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_105_" x="130" y="50" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_114_" x="96" y="68" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_113_" x="130" y="68" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_8_" x="66" y="15" fill="#73C7D2" width="10" height="12"/>
	<rect id="XMLID_9_" x="96" y="14" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_100_" x="96" y="32" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_102_" x="130" y="14" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_101_" x="130" y="32" fill="#73C7D2" width="30" height="14"/>
	<rect id="XMLID_49_" x="82" y="14" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_10_" x="82" y="48" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_51_" x="82" y="82" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_50_" x="82" y="116" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_53_" x="82" y="150" fill="#73C7D2" width="10" height="30"/>
	<rect id="XMLID_52_" x="82" y="184" fill="#73C7D2" width="10" height="36"/>
	<rect id="XMLID_27_" x="66" y="73" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_28_" x="66" y="81" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_15_" x="66" y="33" fill="#73C7D2" width="10" height="10"/>
	<rect id="XMLID_16_" x="66" y="45" fill="#73C7D2" width="10" height="10"/>
	<rect id="XMLID_40_" x="66" y="201" fill="#73C7D2" width="10" height="8"/>
	<rect id="XMLID_39_" x="66" y="211" fill="#73C7D2" width="10" height="8"/>
	<rect id="XMLID_17_" x="66" y="61" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_31_" x="66" y="105" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_30_" x="66" y="113" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_29_" x="66" y="93" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_37_" x="66" y="137" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_36_" x="66" y="145" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_35_" x="66" y="125" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_34_" x="66" y="169" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_33_" x="66" y="177" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_32_" x="66" y="157" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_38_" x="66" y="189" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_93_" x="180" y="15" fill="#73C7D2" width="10" height="12"/>
	<rect id="XMLID_92_" x="180" y="73" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_91_" x="180" y="81" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_90_" x="180" y="33" fill="#73C7D2" width="10" height="10"/>
	<rect id="XMLID_89_" x="180" y="45" fill="#73C7D2" width="10" height="10"/>
	<rect id="XMLID_88_" x="180" y="201" fill="#73C7D2" width="10" height="8"/>
	<rect id="XMLID_87_" x="180" y="211" fill="#73C7D2" width="10" height="8"/>
	<rect id="XMLID_86_" x="180" y="61" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_85_" x="180" y="105" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_84_" x="180" y="113" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_83_" x="180" y="93" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_82_" x="180" y="137" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_81_" x="180" y="145" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_80_" x="180" y="125" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_79_" x="180" y="169" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_78_" x="180" y="177" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_77_" x="180" y="157" fill="#73C7D2" width="10" height="6"/>
	<rect id="XMLID_76_" x="180" y="189" fill="#73C7D2" width="10" height="6"/>
</g>
<g id="ombres">

		<linearGradient id="XMLID_172_" gradientUnits="userSpaceOnUse" x1="200.5" y1="145.5" x2="207.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_143_" x="96" y="21" fill="url(#XMLID_172_)" width="64" height="7"/>

		<linearGradient id="XMLID_173_" gradientUnits="userSpaceOnUse" x1="171.5" y1="145.5" x2="178.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_145_" x="96" y="50" fill="url(#XMLID_173_)" width="64" height="7"/>

		<linearGradient id="XMLID_174_" gradientUnits="userSpaceOnUse" x1="218.5" y1="145.5" x2="225.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_144_" x="96" y="39" fill="url(#XMLID_174_)" width="64" height="7"/>

		<linearGradient id="XMLID_175_" gradientUnits="userSpaceOnUse" x1="189.5" y1="145.5" x2="196.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_41_" x="96" y="32" fill="url(#XMLID_175_)" width="64" height="7"/>

		<linearGradient id="XMLID_176_" gradientUnits="userSpaceOnUse" x1="74" y1="117" x2="81" y2="117" gradientTransform="matrix(-1 0 0 -1 211 234)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_96_" x="130" y="14" fill="url(#XMLID_176_)" width="7" height="206"/>

		<linearGradient id="XMLID_177_" gradientUnits="userSpaceOnUse" x1="236.5" y1="145.5" x2="243.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_148_" x="96" y="57" fill="url(#XMLID_177_)" width="64" height="7"/>

		<linearGradient id="XMLID_178_" gradientUnits="userSpaceOnUse" x1="153.5" y1="145.5" x2="160.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_149_" x="96" y="68" fill="url(#XMLID_178_)" width="64" height="7"/>

		<linearGradient id="XMLID_179_" gradientUnits="userSpaceOnUse" x1="254.5" y1="145.5" x2="261.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_146_" x="96" y="75" fill="url(#XMLID_179_)" width="64" height="7"/>

		<linearGradient id="XMLID_180_" gradientUnits="userSpaceOnUse" x1="135.5" y1="145.5" x2="142.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_147_" x="96" y="86" fill="url(#XMLID_180_)" width="64" height="7"/>

		<linearGradient id="XMLID_181_" gradientUnits="userSpaceOnUse" x1="272.5" y1="145.5" x2="279.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_152_" x="96" y="93" fill="url(#XMLID_181_)" width="64" height="7"/>

		<linearGradient id="XMLID_182_" gradientUnits="userSpaceOnUse" x1="117.5" y1="145.5" x2="124.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_153_" x="96" y="104" fill="url(#XMLID_182_)" width="64" height="7"/>

		<linearGradient id="XMLID_183_" gradientUnits="userSpaceOnUse" x1="290.5" y1="145.5" x2="297.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_150_" x="96" y="111" fill="url(#XMLID_183_)" width="64" height="7"/>

		<linearGradient id="XMLID_184_" gradientUnits="userSpaceOnUse" x1="99.5" y1="145.5" x2="106.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_151_" x="96" y="122" fill="url(#XMLID_184_)" width="64" height="7"/>

		<linearGradient id="XMLID_185_" gradientUnits="userSpaceOnUse" x1="308.5" y1="145.5" x2="315.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_156_" x="96" y="129" fill="url(#XMLID_185_)" width="64" height="7"/>

		<linearGradient id="XMLID_186_" gradientUnits="userSpaceOnUse" x1="81.5" y1="145.5" x2="88.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_157_" x="96" y="140" fill="url(#XMLID_186_)" width="64" height="7"/>

		<linearGradient id="XMLID_187_" gradientUnits="userSpaceOnUse" x1="326.5" y1="145.5" x2="333.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_154_" x="96" y="147" fill="url(#XMLID_187_)" width="64" height="7"/>

		<linearGradient id="XMLID_188_" gradientUnits="userSpaceOnUse" x1="63.5" y1="145.5" x2="70.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_155_" x="96" y="158" fill="url(#XMLID_188_)" width="64" height="7"/>

		<linearGradient id="XMLID_189_" gradientUnits="userSpaceOnUse" x1="344.5" y1="145.5" x2="351.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_160_" x="96" y="165" fill="url(#XMLID_189_)" width="64" height="7"/>

		<linearGradient id="XMLID_190_" gradientUnits="userSpaceOnUse" x1="45.5" y1="145.5" x2="52.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_161_" x="96" y="176" fill="url(#XMLID_190_)" width="64" height="7"/>

		<linearGradient id="XMLID_191_" gradientUnits="userSpaceOnUse" x1="362.5" y1="145.5" x2="369.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_158_" x="96" y="183" fill="url(#XMLID_191_)" width="64" height="7"/>
	<linearGradient id="XMLID_192_" gradientUnits="userSpaceOnUse" x1="119" y1="117" x2="126" y2="117">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_97_" x="119" y="14" fill="url(#XMLID_192_)" width="7" height="206"/>

		<linearGradient id="XMLID_193_" gradientUnits="userSpaceOnUse" x1="9.5" y1="145.5" x2="16.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
		<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
	</linearGradient>
	<rect id="XMLID_163_" x="96" y="212" fill="url(#XMLID_193_)" width="64" height="7"/>
</g>
<linearGradient id="XMLID_194_" gradientUnits="userSpaceOnUse" x1="380.5" y1="145.5" x2="387.5" y2="145.5" gradientTransform="matrix(4.489700e-11 1 -1 4.489700e-11 273.5 -179.5)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_162_" x="96" y="201" fill="url(#XMLID_194_)" width="64" height="7"/>
<linearGradient id="XMLID_195_" gradientUnits="userSpaceOnUse" x1="153" y1="117" x2="160" y2="117">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_42_" x="153" y="14" fill="url(#XMLID_195_)" width="7" height="206"/>
<linearGradient id="XMLID_196_" gradientUnits="userSpaceOnUse" x1="85" y1="233" x2="92" y2="233">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_167_" x="85" y="224" fill="url(#XMLID_196_)" width="7" height="18"/>
<linearGradient id="XMLID_197_" gradientUnits="userSpaceOnUse" x1="110" y1="233" x2="117" y2="233" gradientTransform="matrix(-1 0 0 -1 213 466)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_169_" x="96" y="224" fill="url(#XMLID_197_)" width="7" height="18"/>
<linearGradient id="XMLID_198_" gradientUnits="userSpaceOnUse" x1="153" y1="233" x2="160" y2="233">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_171_" x="153" y="224" fill="url(#XMLID_198_)" width="7" height="18"/>
<linearGradient id="XMLID_199_" gradientUnits="userSpaceOnUse" x1="42" y1="233" x2="49" y2="233" gradientTransform="matrix(-1 0 0 -1 213 466)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_170_" x="164" y="224" fill="url(#XMLID_199_)" width="7" height="18"/>
<linearGradient id="XMLID_200_" gradientUnits="userSpaceOnUse" x1="26" y1="117" x2="33" y2="117" gradientTransform="matrix(-1 0 0 -1 211 234)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_43_" x="178" y="14" fill="url(#XMLID_200_)" width="7" height="206"/>
<linearGradient id="XMLID_201_" gradientUnits="userSpaceOnUse" x1="201" y1="117" x2="208" y2="117" gradientTransform="matrix(1 0 0 1 -130 0)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_168_" x="71" y="14" fill="url(#XMLID_201_)" width="7" height="206"/>
<linearGradient id="XMLID_202_" gradientUnits="userSpaceOnUse" x1="252.5" y1="224.5" x2="259.5" y2="224.5" gradientTransform="matrix(4.489700e-11 -1 1 4.489700e-11 -96.5 273.5)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_166_" x="64" y="14" fill="url(#XMLID_202_)" width="128" height="7"/>
<linearGradient id="XMLID_203_" gradientUnits="userSpaceOnUse" x1="83" y1="139" x2="93" y2="139" gradientTransform="matrix(-1 0 0 -1 175 256)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0.14"/>
	<stop  offset="0.5" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_11_" x="82" y="14" fill="url(#XMLID_203_)" width="10" height="206"/>
<linearGradient id="XMLID_204_" gradientUnits="userSpaceOnUse" x1="1" y1="139" x2="11" y2="139" gradientTransform="matrix(-1 0 0 -1 175 256)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0.14"/>
	<stop  offset="0.5" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_12_" x="164" y="14" fill="url(#XMLID_204_)" width="10" height="206"/>
<linearGradient id="XMLID_205_" gradientUnits="userSpaceOnUse" x1="27.5" y1="145.5" x2="34.5" y2="145.5" gradientTransform="matrix(-4.489700e-11 -1 1 -4.489700e-11 -17.5 228.5)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_159_" x="96" y="194" fill="url(#XMLID_205_)" width="64" height="7"/>
<rect id="XMLID_4_" x="58" y="28" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_98_" x="96" y="28" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_99_" x="130" y="28" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_104_" x="96" y="46" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_103_" x="130" y="46" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_112_" x="96" y="64" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_111_" x="130" y="64" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_108_" x="96" y="82" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_107_" x="130" y="82" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_95_" x="126" y="14" fill="#EEEEEE" width="4" height="206"/>
<rect id="XMLID_164_" x="92" y="224" fill="#EEEEEE" width="4" height="18"/>
<rect id="XMLID_165_" x="160" y="224" fill="#EEEEEE" width="4" height="18"/>
<rect id="XMLID_128_" x="96" y="100" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_127_" x="130" y="100" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_124_" x="96" y="118" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_123_" x="130" y="118" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_120_" x="96" y="136" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_119_" x="130" y="136" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_116_" x="96" y="154" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_115_" x="130" y="154" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_140_" x="96" y="172" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_139_" x="130" y="172" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_136_" x="96" y="190" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_135_" x="130" y="190" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_132_" x="96" y="208" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_131_" x="130" y="208" fill="#EEEEEE" width="30" height="4"/>
<rect id="XMLID_13_" x="58" y="56" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_14_" x="58" y="68" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_44_" x="82" y="44" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_46_" x="82" y="78" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_47_" x="82" y="112" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_45_" x="82" y="146" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_48_" x="82" y="180" fill="#EEEEEE" width="10" height="4"/>
<linearGradient id="XMLID_206_" gradientUnits="userSpaceOnUse" x1="1" y1="139" x2="11" y2="139" gradientTransform="matrix(-1 0 0 -1 175 256)">
	<stop  offset="0" style="stop-color:#000000;stop-opacity:0.14"/>
	<stop  offset="0.5" style="stop-color:#000000;stop-opacity:0"/>
	<stop  offset="1" style="stop-color:#000000;stop-opacity:0.14"/>
</linearGradient>
<rect id="XMLID_94_" x="164" y="14" fill="url(#XMLID_206_)" width="10" height="206"/>
<rect id="XMLID_58_" x="164" y="44" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_57_" x="164" y="78" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_56_" x="164" y="112" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_55_" x="164" y="146" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_54_" x="164" y="180" fill="#EEEEEE" width="10" height="4"/>
<rect id="XMLID_19_" x="58" y="88" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_18_" x="58" y="100" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_21_" x="58" y="120" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_20_" x="58" y="132" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_23_" x="58" y="152" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_22_" x="58" y="164" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_25_" x="58" y="184" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_24_" x="58" y="196" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_75_" x="178" y="28" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_74_" x="178" y="56" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_73_" x="178" y="68" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_72_" x="178" y="88" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_71_" x="178" y="100" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_70_" x="178" y="120" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_69_" x="178" y="132" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_68_" x="178" y="152" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_67_" x="178" y="164" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_66_" x="178" y="184" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_65_" x="178" y="196" fill="#EEEEEE" width="20" height="4"/>
<rect id="XMLID_26_" x="58" y="220" fill="#EEEEEE" width="140" height="4"/>
</svg>
